@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&display=swap');

html{
    @apply overflow-x-hidden box-border 
}
body{
    @apply bg-gray-200 h-screen w-screen overflow-y-auto scrollbar-hide 
     overflow-x-hidden
}
body.dark-mode {
    @apply bg-secondary-darkThree;
}
#root{
    @apply  h-full m-0 
}
.top-header {
    @apply flex flex-row justify-between text-[23px] w-full h-[8%] bg-white
    shadow  sticky top-0  max-md:py-[5px] z-10
}
.navHeader{
    @apply flex items-center relative inset-y-auto w-full overflow-y-hidden 
    max-md:absolute max-md:z-40 max-md:h-[10vh] max-md:text-white
     max-md:w-[100vw] max-md:rounded-3xl max-md:py-2 max-md:left-0 max-md:justify-around
     max-md:top-[85dvb] max-md:items-end

}
.nameNsearch{
    @apply flex flex-row items-center space-x-4 font-roboto mob:block
}
.mainPage{
    @apply flex flex-row max-md:flex-col w-full h-[92%] overflow-y-scroll;
}
.btn {
    @apply bg-blue-500 text-white font-bold py-3 px-4 rounded-3xl
    hover:cursor-pointer hover:bg-blue-600
}
.postInput{
    @apply w-[70%] rounded-xl pl-[4px] py-[7px] border-[1.5px] focus:outline-blue-200
    hover:cursor-pointer hover:bg-gray-200 focus:bg-gray-200
}
.messageInput{
    @apply w-[80%] rounded-xl pl-[4px] py-[7px] focus:outline-gray-300
    hover:cursor-pointer hover:bg-gray-200 focus:bg-gray-200 focus:outline-[1px]
}
.profile-pic{
    @apply w-[53px] h-[48px] object-cover rounded-[50%];
}
.post-profile-pic{
    @apply w-[42px] h-[41px] object-cover rounded-[50%];
}
.comment-profile-pic{
    @apply w-[42px] h-[41px] object-cover rounded-[50%];
}

.createPostIcon{
    @apply flex items-center font-medium hover:cursor-pointer hover:bg-gray-300
     text-gray-600 w-[30%] py-1 rounded-lg mt-1 max-md:text-[15px]
}
.postPic{
    @apply w-[95%] h-[68vh] max-md:max-h-[60vh] max-md:object-fill rounded mx-auto;
}
.loadingBtn{
    @apply animate-spin text-[25px] font-medium rounded-3xl text-white
}
.receiver {
    @apply  bg-gray-200 text-gray-900 rounded-lg;
  }
.sender {
    @apply  bg-blue-500 text-white rounded-lg;
  }
      
#home{
    @apply text-blue-500 border-b-[3px] border-blue-500 rounded-none hover:bg-white 
     max-md:hover:bg-black max-md:bg-opacity-0
}
#users{
    @apply text-blue-500 border-b-[3px] border-blue-500 rounded-none hover:bg-white 
     max-md:hover:bg-black max-md:bg-opacity-0
}
#notify{
    @apply text-blue-500 border-b-[3px] border-blue-500 rounded-none hover:bg-white 
     max-md:hover:bg-black max-md:bg-opacity-0
}
#chat{
    @apply text-blue-500 border-b-[3px] border-blue-500 rounded-none hover:bg-white 
     max-md:hover:bg-black max-md:bg-opacity-0
}

#darkTopheader{
    @apply bg-primary-dark text-white
}
#darkHome{
    @apply  hover:bg-primary-dark border-b-[3px] border-blue-500  rounded-none
}
#darkUsers{
    @apply  hover:bg-primary-dark border-b-[3px] border-blue-500 rounded-none
}
#darkNotify{
    @apply  hover:bg-primary-dark border-b-[3px] border-blue-500 rounded-none
}
#darkChat{
    @apply  hover:bg-primary-dark border-b-[3px] border-blue-500 rounded-none
}
#darkMainPage{
    @apply  bg-secondary-darkThree
}
#darkPost{
    @apply bg-[#63636e] text-white border-none outline-none
}
#darkFollow{
    @apply text-[#c1c1c9]
}
#darkLike{
    @apply text-white
}
#darkComment{
    @apply text-white
}
#darkSearch{
    @apply text-black
}
#darkNotifyTwo{
    @apply bg-[#1e293b] text-white 

}
#darkNotifyThree{
    @apply bg-[#1e293b] text-white rounded-none

}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* for Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#darkChatBg{
    @apply bg-[#1e293b]
}
  
#chatLoad{
    @apply bg-white text-white
}